    @using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = "Virtual Design 3D Gallery";
    }

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Virtual Design 3d Models" name="description" />
    <meta content="Sergio J. Peralta" name="author" />

    @RenderSection("meta", required: false)

    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/Content/framework")
    @Styles.Render("~/Content/template")

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">

    <div id="fb-root"></div>
    
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse ">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="header-seperation">
                <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                    <li class="dropdown">
                        <a id="main-menu-toggle" href="#main-menu" class="">
                            <div class="iconset top-menu-toggle-white"></div>
                        </a>
                    </li>
                </ul>
                <!-- BEGIN LOGO -->
                <a href="@Url.Action("Index","Model")"><img src="#" class="logo" alt=""  data-src="@Url.Content("~/Content/assets/img/logo.png")" data-src-retina="@Url.Content("~/Content/assets/img/logo.png")" width="106" height="21"/></a>
                <!-- END LOGO -->
                <ul class="nav pull-right notifcation-center">
                    <li class="dropdown" id="header_task_bar">
                        <a href="@Url.Action("Index","Model")" class="dropdown-toggle active" data-toggle="">
                            <div class="iconset top-home"></div>
                        </a>
                    </li>
                    <li class="dropdown" id="portrait-chat-toggler" style="display:none">
                        <a href="#sidr" class="chat-menu-toggle">
                            <div class="iconset top-chat-white "></div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <div class="header-quick-nav">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="pull-left">
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="" id="layout-condensed-toggle">
                                <div class="iconset top-menu-toggle-dark"></div>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="">
                                <div class="iconset top-reload"></div>
                            </a>
                        </li>
                        <li class="quicklinks"> <span class="h-seperate"></span></li>
                        <li class="quicklinks">
                            <a href="#" class="">
                                <div class="iconset top-tiles"></div>
                            </a>
                        </li>
                        <li class="m-r-10 input-prepend inside search-form no-boarder">
                            <span class="add-on"> <span class="iconset top-search"></span></span>
                            <input name="" type="text" class="no-boarder " id="txtFilter" placeholder="Search Model" style="width:250px;">
                        </li>
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
                <!-- BEGIN CHAT TOGGLER -->
                @Html.Partial("_LoginPartial")
                <!-- END CHAT TOGGLER -->
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar" id="main-menu">
            <!-- BEGIN MINI-PROFILE -->
            <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
                <div class="user-info-wrapper">
                    <div class="profile-wrapper"> <img src="@Url.Content("~/Content/assets/img/profiles/avatar.jpg")" alt="" data-src="@Url.Content("~/Content/assets/img/profiles/avatar.jpg")" data-src-retina="@Url.Content("~/Content/assets/img/profiles/avatar2x.jpg")" width="69" height="69" /> </div>
                    <div class="user-info">
                        <div class="greeting">Welcome</div>
                        @if (Request.IsAuthenticated)
                        {                           
                            <div class="username">@User.Identity.GetUserName()</div>
                        }
                    </div>
                </div>
                <!-- END MINI-PROFILE -->
                <!-- BEGIN SIDEBAR MENU -->              
                @Html.Partial("_LeftPanel")
                <div class="clearfix"></div>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <div class="footer-widget">
            <div class="progress transparent progress-small no-radius no-margin">
                <div data-percentage="79%" class="progress-bar progress-bar-success animate-progress-bar"></div>
            </div>
            <div class="pull-right">
                <div class="details-status"> <span data-animation-duration="560" data-value="86" class="animate-number"></span>% </div>
                @if (User.Identity.IsAuthenticated) {
                    <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-power-off"></i></a>
                }
            </div>
        </div>
        <!-- END SIDEBAR -->


        <div class="page-content">
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body"> Widget settings form goes here </div>
            </div>
            <div class="clearfix"></div>
            <div class="content sm-gutter">
                <div class="page-title">
                </div>
                <!-- BEGIN DASHBOARD TILES -->
                @RenderBody()
                <!-- END DASHBOARD TILES -->
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="~/Content/assets/plugins/respond.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/framework")
    @Scripts.Render("~/bundles/coreplugins")
    @Scripts.Render("~/bundles/pageplugins")

    @Html.Partial("_FacebookInit")

    @RenderSection("scripts", required: false)
    <script>
        jQuery(document).ready(function () {
            jQuery('.itemM img').each(function () {
                if (this.width < 20) {
                    this.src = '/Content/user/model/model_723_aal.jpg'
                }
            });


            jQuery('#menul a').on('click', function (event) {
                event.preventDefault();
                var category = $(this).attr('id'); 
                jQuery(".commentlist li").each(function () {

                    // If the list item does not contain the text phrase fade it out
                    if ($(this).attr('category') == category) {
                        $(this).show();

                        // Show the list item if the phrase matches and increase the count by 1
                    } else {
                        $(this).fadeOut();

                    }
                });

            });

            jQuery("#txtFilter").keyup(function () {

                // Retrieve the input field text and reset the count to zero
                var filter = $(this).val(), count = 0;

                // Loop through the comment list
                jQuery(".commentlist li").each(function () {

                    // If the list item does not contain the text phrase fade it out
                    if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                        $(this).fadeOut();

                        // Show the list item if the phrase matches and increase the count by 1
                    } else {
                        $(this).show();
                        count++;
                    }
                });

                // Update the count
                var numberItems = count;
            });

        });
    </script>
</body>
</html>
